/*--------------------------------Start of About Page---------------------------------- */
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: hsl(247, 18%, 20%);
    /* borrowed inspirations from codepen https://codepen.io/primalivet/pen/ryjKmV */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
    /* This will be my whole nav bar section with a sticky bar element */
    .navBar{
        background-color: #E3A29A;
        height: 90px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1;
        border-bottom:5px solid #2C2A3C;
    }
    /* This will be my attention grabber/logo will go */
    .left-corner{
      float: left;
    }
    .heroLogo{
        float: left;
        height: 80px;
        width: 80px;
        margin-top: 5px;
        margin-left: 10px;
    }
    .navBar h1{
        color: #2C2A3C;
        font-size: 70px;
        float: left;
        margin-top: 5px;
        font-family: 'Linden Hill', serif;
    
    }
    /* This is where the navigation tabs are */
    .navBar nav{
        background-color: #E3A29A;
        float:right;
        margin-top: 10px;  
    }
    .navBar ul{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        height: 70px;
        overflow: hidden;
    }
    .navBar li{
        display: block;
        float: right;
        border-left: 2px solid #2C2A3C;
    }
    .navBar li:first-child{
      margin-right: 0px;
      padding-right: 0px;
    }
    .navBar li:last-child{
        border-left: none;
    }
    .navBar li a{
        display: block;
        color: #2C2A3C;
        font-size: 30px;
        padding:  14px 16px;
        font-family: 'Linden Hill', serif;
        text-decoration: none;
        text-transform:uppercase;
    }
    .navBar li a:hover{
      background-color: #2C2A3C;
      color: white;
    }
    /* The hero section with the famous quote */
    .heroSection{
      background-color: #E3A29A;
      background-image: url("../img/Hero_Image.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: center;
      background-position-y: top;
      border-bottom:5px solid #2C2A3C;
      margin: 0px;
      padding: 0px;
      height: 800px;
    }
    blockquote {
        font-size: 35px;
        color: #2C2A3C;  
        font-family: 'Linden Hill', serif;
        text-align:center;
        margin-top: -9%;
        padding-top: 30%;
    }

    
    .author-1{
        border-bottom: 5px solid #E3A29A;
        height: 850px;
    }
    .author-1 img{
        float: left;
        height: 720px;
        width: 400px;
        margin: 1%;
    }
    .author-1 h1{
        font-size: 100px;
        color: #fff;  
        font-family: 'Linden Hill', serif;
        text-align: center;
        padding-top: 1%;
    }
    .author-1 p{
        font-size: 35px;
        color: #fff;  
        font-family: 'Linden Hill', serif;
        margin: 1%;

    }
    .author-1 cite{
        font-size: 35px;
        color: #fff;  
        font-family: 'Linden Hill', serif;
        margin: 1%;

    }

    
    .author-2{
        border-bottom: 5px solid #E3A29A;
        height: 850px;
    }
    .author-2 img{
        float: right;
        height: 700px;
        width: 500px;
        margin: 1%;
    }
    .author-2 h2{
        font-size: 100px;
        color: #fff;  
        font-family: 'Linden Hill', serif;
        text-align: center;
    }
    .author-2 p{
        font-size: 35px;
        color: #fff;  
        font-family: 'Linden Hill', serif;
        margin: 1%;
    }
    .author-2 cite{
        font-size: 35px;
        color: #fff;  
        font-family: 'Linden Hill', serif;
        margin: 1%;

    }

    .author-3{
        border-bottom: 5px solid #E3A29A;
        height: 850px;
    }
    .author-3 img{
        float: left;
        height: 720px;
        width: 400px;
        margin: 1%;
    }
    .author-3 h3{
        font-size: 100px;
        color: #fff;  
        font-family: 'Linden Hill', serif;
        text-align: center;
    }
    .author-3 p{
        font-size: 35px;
        color: #fff;  
        font-family: 'Linden Hill', serif;
        margin: 1%;

    }
    .author-3 cite{
        font-size: 35px;
        color: #fff;  
        font-family: 'Linden Hill', serif;
        margin: 1%;

    }

    .author-4{
        border-bottom: 5px solid #E3A29A;
        height: 850px;
    }
    .author-4 img{
        float: right;
        height: 700px;
        width: 500px;
        margin: 1%;
    }
    .author-4 h4{
        font-size: 100px;
        color: #fff;  
        font-family: 'Linden Hill', serif;
        text-align: center;
    }
    .author-4 p{
        font-size: 35px;
        color: #fff;  
        font-family: 'Linden Hill', serif;
        margin: 1%;

    }
    .author-4 cite{
        font-size: 35px;
        color: #fff;  
        font-family: 'Linden Hill', serif;
        margin: 1%;

    }

    .author-5{
        border-bottom: 5px solid #E3A29A;
        height: 850px;
    }
    .author-5 img{
        float: left;
        height: 720px;
        width: 400px;
        margin: 1%;
    }
    .author-5 h5{
        font-size: 100px;
        color: #fff;  
        font-family: 'Linden Hill', serif;
        text-align: center;
    }
    .author-5 p{
        font-size: 35px;
        color: #fff;  
        font-family: 'Linden Hill', serif;
        margin: 1%;

    }
    .author-5 cite{
        font-size: 35px;
        color: #fff;  
        font-family: 'Linden Hill', serif;
        margin: 1%;

    }



    
    .site-footer
    {
      background-color:#26272b;
      padding:45px 0 20px;
      font-size:15px;
      line-height:24px;
      color:#737373;
    }
    .site-footer hr
    {
      border-top-color:#bbb;
      opacity:0.5
    }
    .site-footer hr.small
    {
      margin:20px 0
    }
    .site-footer h6
    {
      color:#fff;
      font-size:16px;
      text-transform:uppercase;
      margin-top:5px;
      margin-left: 10px;
      letter-spacing:2px
    }
    .site-footer p{
     margin-left: 10px;
     margin-right: 10px;
    }
    .site-footer a
    {
      color:#737373;
      margin-left: 10px;
     }
    .site-footer a:hover
    {
      color:#3366cc;
      text-decoration:none;
    }
    .footer-links
    {
      padding-left:0;
      list-style:none
    }
    .footer-links li
    {
      display:block
      
    }
    .footer-links a
    {
      color:#737373
    }
    .copyright-text
    {
      margin:0
    }